<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983439184682-u4tuo1oej7nbf64nl64go1m4hdtmsqhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983439184682-u4tuo1oej7nbf64nl64go1m4hdtmsqhm</string>
	<key>API_KEY</key>
	<string>AIzaSyBvAWPTN2Cr-feJsAx0BgXVyWaFE3WYLGo</string>
	<key>GCM_SENDER_ID</key>
	<string>983439184682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lemon.Estfham</string>
	<key>PROJECT_ID</key>
	<string>estfham-secondv</string>
	<key>STORAGE_BUCKET</key>
	<string>estfham-secondv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983439184682:ios:32cd454b52592e1d66c453</string>
</dict>
</plist>